@{
    ViewData["Title"] = "Categorias";
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-secondary btn-group" role="button" asp-controller="Category" asp-action="Add">Cadastrar Categoria</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bebida</td>
      <td>
        <a class="btn btn-primary" asp-controller="Category" asp-action="ToEdit">Editar</a>
        <a class="btn btn-danger" asp-controller="Category" asp-action="DeleteConfirmation">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>
