@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "Categorias";
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-secondary btn-group" role="button" asp-controller="Category" asp-action="Add">Cadastrar Categoria</a>
</div>
<table class="table">
  <thead>
    @foreach(var category in Model){
      <tr>
      <th scope="col">@category.Id</th>
      <th scope="col">@category.Description</th>
      <th scope="col"></th>
    </tr>
    }
  </thead>
  <tbody>
  </tbody>
</table>