@using AMS23_Carousel.Models.Category
@model CategoryModel
@{
    ViewData["Title"] = "Editar categoria";
}
<a class="btn btn-group btn-secondary btn-toBack" role="button" asp-controller="Category" asp-action="Index" style="margin-top: 25px; background-color:#9d0207;">Voltar</a>
<div class="main-category">
    <div class="register-category">
        <div class="head-group">
                <img src="~/image/pizzaIcon.png" alt="Icone do site(pizza)">
                <h1>Pizzaria Ferrari</h1>
        </div>
        <form class="input-group-category" asp-controller="Category" asp-action="Alter" method="post">
            <input type="hidden" asp-for="Id">
            <input type="text" asp-for="Description" placeholder="Digite o nome da categoria">
            <button type="submit">Editar</button>
        </form>
    </div>
</div>
